body {
	background-color: darkslategray;
	font-family: "Roboto Condensed", sans-serif;
}

.container {
	max-width: 1180px;
	margin: auto;
	display: flex;
	justify-items: center;
	background-color: rgba(100, 100, 100, 0.5);
	padding: 20px;
	border-radius: 5px;
}

.info__pic img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.info__text {
	margin-right: 30px;
}

.info__links{
	margin-top: 30px;
}

a {
	text-decoration: none;
	color: black;
	font-size: 25px;
	margin-right: 5px;
}

a:hover {
	color: yellow;
}

.stop{
	margin-left: 0px;
}
