body {
  background-color: darkslategray;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  max-width: 1180px;
  margin: auto;
}

.main-style {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 5px;
  padding: 20px;
}

.header__row {
  display: flex;
}

.info__pic img {
  width: 300px;
  height: auto;
  border-radius: 50%;
}

.info__text {
  margin-right: 30px;
  font-size: 19px;
  text-align: justify;
}

.surname {
  margin: 0;
}

.stage {
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}

.hr__title {
  background-color: black;
  border: none;
  height: 2px;
}

.text-link {
  text-decoration: underline;
}

.info__links {
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-right: 5px;
}

a:hover {
  color: yellow;
}

.stop {
  margin-left: 0px;
}

.pet {
  margin-top: 25px;
}

.pet__title {
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 15px 0;
}

.pet__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pet__column {
  flex: 0 1 20%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.13);
  margin: 0 0 30px 0;
  border-radius: 5px;
  border: 5px solid black;
  padding: 5px 15px;
}

.pet__item {
  width: 100%;
  position: relative;
}

.pet__item img {
  width: 100%;
  height: 100%;
}

.pet__item-title {
  font-size: 15px;
  text-align: center;
  margin: 10px 0 0 0;
}

.link-block {
  position: relative;
  width: 100%;
  height: 150px;
}

.pet__item:hover .pet__link::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 10px solid yellow;
}

.pet__item:hover .pet__item-title {
  color: yellow;
}

.pet__description {
  font-size: 15px;
  margin: 10px 0;
  text-align: left;
}

.pet__git-link {
  font-size: 18px;
  text-align: center;
  margin: 5px 0 15px;
  display: inline-block;
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 5px;
  transition: all 0.3s ease;
}

.pet__git-link:hover {
  transform: scale(1.2);
}
