body {
	background-color: darkslategray;
	font-family: "Roboto Condensed", sans-serif;
}

.container {
	max-width: 1180px;
	margin: auto;
}

.main-style{
	background-color: rgba(100, 100, 100, 0.5);
	border-radius: 5px;
	padding: 20px;
}

.header__row{
	display: flex;
}

.info__pic img {
	width: 300px;
	height: auto;
	border-radius: 50%;
}

.info__text {
	margin-right: 30px;
	font-size: 19px;
	text-align: justify;
}

.surname{
	margin: 0;
}

.stage{
	font-size: 15px;
	font-style: italic;
	font-weight: 300;
}


.hr__title{
	background-color: black;
	border: none;
	height: 2px;
}

.text-link{
	text-decoration: underline;
}

.info__links {
	margin-top: 30px;
}

a {
	text-decoration: none;
	color: black;
	font-size: 25px;
	margin-right: 5px;
}

a:hover {
	color: yellow;
}

.stop {
	margin-left: 0px;
}
/* portfolio */
.portfolio {
	margin-top: 25px;
}
.protfolio__title {
	font-size: 35px;
	font-weight: 700;
	margin: 0 0 15px 0;
}
.portfolio__row {
	display: flex;
}
.portfolio__column {
}
.portfolio__item {
	width: 100%;
	position: relative;

}
.portfolio__item img{
	width: 100%;
	height: 100%;
	border-radius: 10px;

}

.portfolio__item-title {
	font-size: 15px;
	text-align: center;
}
.link-block{
	position: relative;
	width: 300px;
	height: 150px;
}
.portfolio__link{
}

.portfolio__link:hover::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border: 10px solid yellow;
	border-radius: 10px;

}